<%= form_with model: post do |f| %>
  <%= render 'layouts/errors', obj: post %>

  <div class="form-group">
    <label class="btn btn-outline-secondary w-100">
      画像を選択
      <%= f.file_field :image, accept: "image/*", class: "d-none", onchange: "previewImage(event)" %>
    </label>

    <!-- プレビュー表示枠 -->
    <div id="image-preview" class="mt-3">
      <img id="preview" src="#" alt="プレビュー画像" class="img-fluid d-none rounded shadow">
    </div>
  </div>

  <div class="input-group mb-3 mt-4">
    <!-- アイコン用 -->
    <div class="input-group-prepend">
      <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-pen"></i></span>
    </div>
    <!-- 入力フォーム -->
    <%= f.text_area :body, class: "form-control", rows: "3", placeholder: "キャプション" %>
  </div>

  <div class="input-group mb-3 mt-4">
    <div class="input-group-prepend">
      <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-map-pin"></i></span>
    </div>
    <%= f.text_field :rocation, class: "form-control", placeholder: "場所" %>
  </div>
  <%= f.submit '投稿', class: "btn btn-lg btn-block btn-info mt-4" %>
<% end %>

<script>
  function previewImage(event) {
    const input = event.target;
    const preview = document.getElementById('preview');

    if (input.files && input.files[0]) {
      const reader = new FileReader();
      reader.onload = function(e) {
        preview.src = e.target.result;
        preview.classList.remove("d-none");
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

