<div class="card-list-container py-5">
  <!-- カードを4枚並べにする  -->
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% posts.each do |post| %>
      <div class="col">
        <div class="card">
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image(300, 300), class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <% if post.user.present? %>
                  <%= image_tag post.user.get_profile_image(50, 50) %>
                <% else %>
                  <img src="tabimap/app/assets/images/no_image.jpg" width="50" height="50">
                <% end %>
              </div>
              <div class="col-9">
            <p class="card-title">
              <% if post.user %>
                <%= link_to post.user.name, user_path(post.user) %>
              <% else %>
                不明なユーザー
              <% end %>
            </p><!-- card-title -->
            <% if post.address.present? %>
              <p class="card-title">
                <span>
                  <i class="fa-solid fa-location-dot"></i>
                  <%= post.address %>
                </span>
              </p><!-- card-title -->
            <% elsif post.rocation.present? %>
              <p class="card-title">
                <span>
                  <i class="fa-solid fa-flag"></i>
                  <%= post.rocation %>
                </span>
              </p><!-- card-title -->
            <% end %>
              </div>
            </div><!-- row -->
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- col -->
    <% end %>
  </div><!-- row row-cols-1 row-cols-md-4 g-4 -->
</div>