<h1>Posts#new</h1>

<% if @post.errors.any? %>
  <p><%= @post.errors.count %>件のエラーが発生しました</p>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post do |f| %>
  <h4>image</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'submit' %>
<% end %>