<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag user.get_profile_image(150,150) %>
      </div>
      <div class="col-md-8">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <% if user == current_user %>
            <%= link_to edit_user_path(user.id), 
                class: "btn btn-outline-secondary" do %>
              <i class="fa-solid fa-gear me-2" ></i>プロフィール編集  
            <% end %>
          <% elsif current_user.following?(user) %>
            <%= link_to user_relationships_path(user.id),
                method: :delete, class: "btn btn-secondary" do %>
              <div>フォロー中</div>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(user.id),
                method: :post, class: "btn btn-outline-secondary " do %>
              <div>フォローする</div>
            <% end %>
          <% end %>
        </div>
        <h5 style="margin-top: 10px;">
          <%= user.name %>
        </h5>
      </div>
    </div>
    <div class="row">
      introduction:
      <div class="col-md-12" ><%= user.introduction %></div>
    </div>
  </div>
</div>