<div class="card mb-5" >
  <div class="d-flex">
    <div class="px-3 pt-3" style="flex: 0 0 50%;">
      <%= image_tag user.get_profile_image(150,150),style: "width: 100%; height: auto;" %>
    </div>
    <!-- ボタン -->
    <div class="card-body d-flex flex-grow-1 mx-1 align-items-center justify-content-center"
        style="flex: 0 0 50%;">
      <% if user == current_user %>
        <%= link_to edit_user_path(user.id), 
          class: "btn btn-outline-secondary  btn-sm w-100" do %>
          <i class="fa-solid fa-gear px-2"></i> 
        <% end %>
      <% elsif current_user.following?(user) %>
        <%= link_to user_relationships_path(user.id),
            method: :delete, class: "btn btn-primary btn-sm w-100" do %>
          <div>フォロー中</div>
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(user.id),
            method: :post, class: "btn btn-outline-primary btn-sm w-100" do %>
          <div>フォローする</div>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- 名前・FF -->
  <div class="px-3 pb-1">
    <h5><%= user.name %></h5>
    <p>
      <small class="text-dark">
        <%= link_to user_followings_path(user), class:"text-dark mx-1" do %>
          <%= user.followings.count %>フォロー
        <% end %>
        /
        <%= link_to user_followers_path(user), class:"text-dark mx-1" do %>
          <%= user.followers.count %>フォロワー
        <% end %>
      </small>
    </p>
  </div>
  <!-- 自己紹介 -->
  <% if user.introduction.present? %>
    <div class="card-body" style="border-top: 1px solid #ccc;">
      <%= user.introduction %>
    </div>
  <% end %>
</div>
