<h1>Users#edit</h1>
<h2>プロフィール編集</h2>
<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |f| %>
  <label for="inputName">Name</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%><br>
  <label for="inputaddress">email</label><br>
  <%= f.text_field :email, autofocus: true, placeholder:"email"%><br>
  <label for="inputImage">ProfileImage</label><br>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %><br>
  <label for="inputintroduction">introduction</label><br>
  <%= f.text_area :introduction, placeholder: "自己紹介" %><br>
  <%= f.submit "変更を保存" %>
<% end %>
<p><%= link_to '退会', user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？" %></p>
<p>Find me in app/views/users/edit.html.erb</p>
