<div class = "container">
  <div class = "row no-gutters">
    <div class = "col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-2">
      <h5 class = "text-dark p-4 mb-0" style="background-color: #e9ecef;">プロフィール変更</h5>
      <div class = "form-body p-4">
        <%= form_with model: @user do |f| %>
          <%= render 'layouts/errors', obj: @user %>

          <div class="form-group">
            <label class="btn btn-outline-secondary w-100">
              プロフィール画像を選択
              <%= f.file_field :profile_image, accept: "image/*", class: "d-none" %>
            </label>
          </div>

          <div class="input-group mb-3 mt-4">
            <!-- アイコン用 -->
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true">
                <i class="fa-solid fa-circle-user"></i>
              </span>
            </div>
            <!-- 入力フォーム -->
            <%= f.text_field :name, class: "form-control", autofocus: true, placeholder:"名前"%>
          </div>

          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true">
                <i class="fa-solid fa-map-pin"></i>
              </span>
            </div>
            <%= f.text_field :email, class: "form-control", autofocus: true, placeholder:"email"%>
          </div>

          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true">
                <i class="fa-solid fa-map-pin"></i>
              </span>
            </div>
            <%= f.text_area :introduction, class: "form-control", rows: "3", placeholder: "自己紹介" %>
          </div>

          <%= f.submit '保存', class: "btn btn-lg btn-block btn-info my-4" %>
        <% end %>
        
        <div class="btn btn-outline-secondary w-100">
          <%= link_to '退会', user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？", class:"text-dark text-decoration-none" %>
        </div>

      </div>
    </div>
  </div>
</div>