<!DOCTYPE html>
<html>
<head>
  <title>Admin - Tabimap</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://kit.fontawesome.com/4ee0efb882.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <!-- サイト名 -->
          <h4 class=" text-dark" style="font-weight: bold;">
            たびmap<i class="fa-solid fa-map-location-dot ml-2"></i>（管理者画面）
          </h4>
          <!-- ヘッダーのリンク -->
          <button class="navbar-toggler"type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "logout", destroy_user_session_path, method: :delete, class:"mr-2 nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "login", new_admin_session_path, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main class="mb-auto">
      <%= yield %>
    </main>
  </body>
</html>